files:
  "/opt/elasticbeanstalk/tomcat/conf/server.xml":
    mode: "000644"
    owner: root
    group: root
    content: |
      <?xml version='1.0' encoding='utf-8'?>
      <Server port="8005" shutdown="SHUTDOWN">
        <Service name="Catalina">
          <Connector port="8080" protocol="HTTP/1.1"
                     connectionTimeout="20000"
                     redirectPort="8443"
                     maxThreads="200"
                     minSpareThreads="10"
                     acceptCount="100"
                     compression="on"
                     compressionMinSize="2048"
                     compressableMimeType="text/html,text/xml,text/css,text/javascript,application/javascript,application/json"/>
          <Engine name="Catalina" defaultHost="localhost">
            <Host name="localhost" appBase="webapps"
                  unpackWARs="true" autoDeploy="true">
              <Context path="" docBase="ROOT" />
            </Host>
          </Engine>
        </Service>
      </Server>

